body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px;
    padding: 0px;
    background-color: green;
    text-align: left;
}

.header {
    background-color:greenyellow;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
    width: 30rem;
}

.content {
    padding: 20px;


.input-container {
    margin-bottom: 15px;
}



ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.completed {
    text-decoration: line-through;
    color: #999;
}

.checkbox {
    margin-right: 10px;
    cursor: pointer;
}